.profile{
    background-color: #fff;
    padding: 1em .5em;
    margin-top: .5em;
    height: 40vh;
    overflow-y: auto;
    h5{
        font-size: 1.2em;
        text-align: center;
        font-weight: 600;
    }
}