.profile.list{
    background-color: var(--bg-color);
    padding: 1em .5em;
    margin-top: .5em;
    height: 60vh;
    overflow-y: auto;
    padding-bottom: 15vh;
    h5{
        font-size: 1.2em;
        text-align: center;
        font-weight: 600;
    }
}