.home{
    width: 100%;
    position: relative;
}
.messages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15em;

}
header{
    
    position: fixed;
    bottom: 2.5em;
    left: 0;
    width: 100vw;
    .add-new-post{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em;
        background-color: #fff;
        border-bottom: 1px solid rgb(196, 195, 195);
        input{
            flex-grow: 1;
            border: 1px solid lightgray;
            border-radius: 1em;
            padding-left: 1em;
            background-color: var(--light);
        }
        
        img{
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: .5em;
        }
    }
}

.message{
    width: 85%;
    border: 1px solid gray;
    margin: .5em 0;
    background-color: #0677d4;
    color: white;
    border-radius: 0 1em 1em;
    padding: .5em;
    h6{
        font-weight: 500;
        margin-bottom: 0;
    }
    p{
        margin-left: .5em;
    }
    &.author{
        align-self: flex-end;
        border-radius: 1em 0 1em 1em;
        background-color: #06d421 ;
    }
}