<div *ngIf="profil">
    <article class="profil">
        <header>
            <img [src]="imagepreview" [alt]="'avatar '+ profil.firstName ">
            <div *ngIf="modeEdit">
                <label for="avatar"><span class="fa fa-edit"></span></label>
                <input type="file" id="avatar" (change)="preview($event)">
            </div>
        </header>
        <section>
            <div class="detail">
                <h2 *ngIf="modeEdit">{{profil.firstName}} {{profil.lastName}}</h2>
                <div *ngIf="modeEdit">
                    <div class="form-group d-flex">
                        <input class="form-control" [value]="profil.firstName +' '+ profil.lastName"> 
                    </div>
                </div>
                <button *ngIf="modeEdit" class="btn btn-primary" >Valider</button>
                <button *ngIf="modeEdit" class="btn btn-danger ml-2" (click)="changeMode()">Annuler</button>
                <div class="badge" *ngIf="!modeEdit">
                    <p *ngIf="profil.isAdmin">
                        Rôle: <span class="fa fa-user-shield"></span> Admin
                    </p>
                    <p  *ngIf="!profil.isAdmin">
                        Rôle: <span class="fa fa-user"></span> Membre
                    </p>
                </div>
                <p *ngIf="!modeEdit">Inscrit <span>{{profil.createdAt|mdate}}</span></p>
                <p *ngIf="!modeEdit">Postes en lignes <span *ngIf="profil.Posts">{{profil.Posts.length}}</span></p>
            </div>
            <div class="action" *ngIf="!modeEdit">
                <button *ngIf="profil.id === userLogged.id" class="btn btn-sm btn-primary" (click)="changeMode()"><span
                        class="fa fa-edit"></span> Modifier mes données</button>
                <button *ngIf="userLogged.isAdmin || profil.id === userLogged.id" class="btn btn-sm btn-danger"><span
                        class="fa fa-trash"></span> Supprimer le profile</button>
            </div>
        </section>
    </article>
    <h2>Listes des publication: <span *ngIf="profil.Posts">{{profil.Posts.length}}</span></h2>
    <div *ngIf="profil.Posts">
        <div *ngFor="let post of profil.Posts; let i = index">
            <article class="post" [class]="'post_parent_' + post.id" [id]="post.id">
                <header class="post__header">
                    <div class="post__header-details">
                        <img src={{profil.avatar}} alt="">
                        <div class="metadata">
                            <span class="date">{{post.createdAt | mdate}}</span>
                            <span class="autre"></span>
                        </div>
                    </div>
                </header>
                <div class="post__body" (click)="showPost(post.id)">
                    <div [innerHtml]="post.description"></div>
                    <img *ngIf="!post.image.includes('null')" src={{post.image}} alt={{post.title}} >
                </div>
            </article>
        </div>
    </div>
</div>