<div *ngIf="isUserLogged;else auth">
  <app-navbar></app-navbar>
  <div class="container fixed">
    <div class="row">
      <div class="col-md-3 profile">
        <app-profile></app-profile>
        <app-list-users></app-list-users>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3 lastPosts">
        <app-post-card-list></app-post-card-list>
      </div>
    </div>
  </div>
  <div class="container main">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="modal">
    <app-new-post></app-new-post>
  </div>
  <div class="mobilenav">
    <app-mobile-nav></app-mobile-nav>
  </div>

</div>
<ng-template #auth>
  <router-outlet></router-outlet>
</ng-template>