.navbar{
    background-color: black;
}

.modal {
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none !important;
    &.show{
        display: flex !important;
        max-height: 100vh;
        overflow-y: scroll;
    }
}
.container.main .col-md-3{
    position: relative;
    z-index: -1;
}
.fixed{
    position: fixed;
    //max-width: 1140px;
    left: 50%;
    transform: translateX(-50%);
}
header{
    background-color: #fff;
    box-shadow: 0 0 3px rgb(212, 211, 211);
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    z-index: 9999;
    padding: 0.5em 1em;
    h3{
        color: #1e81d2;
        text-align: center;
    }
}
.add-new-post{
    display: flex;
    margin-bottom: 1em;
    input{
        flex: 1;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 1em;
        padding-left: 1em;
    }
    
    img{
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: .5em;
    }
}
.mobilenav{
    display: none;
}

@media (max-width: 990px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        // padding-left: 0 !important;
        // padding-right: 0 !important;
    }
}


@media screen and (max-width: 767px) {
    .container{
        width: 100%;
    }
    .fixed{
        position: relative;
        width: 100%;
        .profile, .lastPosts{
            display: none !important;
        }
    }
    .container.main{
        .col-md-6{
            padding-top: 4em;
            //background-color: #fff;
        }
    }
    .mobilenav{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: white;
        z-index: 99999;
    }


}