.comment{
    display: flex;
    background-color: #fff;
    width: 100%;
    padding: .5em;
    margin-bottom: .5em;
    position: relative;
    border-radius: 0 1em 1em 0;
    margin-top: 1em;
    .comment_image {
        img{
            width: 35px;
            height: 35px;
            margin-right: 1em;
            border-radius: 50%;
            box-shadow: 0 0 5px rgb(223, 223, 223);
        }
    }
    .comment-body{
        width: 100%;
        .comment-header{
            color: var(--orange);
            small{
                margin-right: .5em;
                font-size: .8em;
                &:last-of-type{
                    color: rgb(3, 40, 245);
                }
            }
        }
        .comment-comment{
            color: rgb(63, 62, 62);
            font-size: .8em;
        }
        .comment-footer{
            width: 100%;
            button{
                font-size: .6em;
                margin-right: .5em;
            }
        }
    }
    &.child{
        width: 95% !important;
        margin-left: 5%;
    }
}

.comment__header-action{
    position: absolute;
    top: 1em;
    right: 1em;
    span{
        cursor: pointer;
    }
    ul{
        width: 15em;
        display: none;
        &.show{
            position: absolute;
            right: 1.5em;
            top: 0em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            background-color: #fff;
            border-radius: .2em;
            box-shadow: 0 0 8px rgb(192, 192, 192);
            padding: 0;
            li{
                display: flex;
                padding: .5em;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                button{
                    font-size: .7em;
                }
                &:hover{
                    background-color: rgb(240, 240, 240);
                }
            }
        }
    }
}

.child{
    position: relative;
    &::after{
        content: "";
        border-bottom: 2px solid #aaaaaa;
        position: absolute;
        left: -1.7em;
        top: calc(50% - 1px);
        width: 5em;
        z-index: -1;
    }
    &::before{
        content: "";
        border-left: 2px solid #aaaaaa;
        position: absolute;
        left: -1.7em;
        top: calc(-50% - 1em);
        height: calc(100% + 1em);
        z-index: -1;
    }
}

.comment__footer-comment{
    input{
        font-size: 1em;
        width: 100%;
        padding: .2em 1em;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.13);
        &::placeholder{
            color: gray;
        }
        &:focus,
        &:active{
            outline: none;
            box-shadow: 0 0 3px rgb(29, 174, 231);
            background-color: rgb(255, 255, 255)
        }
    }
}