.post-card-list{
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1em;
    background-color: var(--bg-color);
    padding: 0 .5em;
    border: 1px solid var(--border-color);
    h5{
        background-color: var(--bg-color);
        color: var(--text-color-gray);
    }
}
.last-likes{
    p{
        margin: 0;
        color: var(--text-color-gray);
    }
}

@media (max-width: 990px) {
    h5{
        font-size: .8em;
    }
}