.post-card{
    margin: .5em 0;
    background-color: var(--bg-color);
    cursor: pointer;
    max-height: 10em;
    overflow: hidden;
    img{
        height: 4em;
        width: 100%;
        object-fit: cover;
    }
    .content{
        max-height: 0;
        font-size: .8em;
        color: var(--text-color-gray);
        p{
            margin-bottom: 0 !important;
            padding: 0;
        }
    }
}
.small{
    color: var(--text-color-gray);
    font-weight: bold;
}

@media (max-width: 990px) {
    .post-card{
        p{
            font-size: .7em;
        }
    }
}