.post-card{
    margin: .5em 0;
    background-color: rgb(241, 241, 241);
    cursor: pointer;
    max-height: 10em;
    overflow: hidden;
    img{
        height: 4em;
        width: 100%;
        object-fit: cover;
    }
    .content{
        max-height: 0;
        font-size: .8em;
        p{
            margin-bottom: 0 !important;
            padding: 0;
        }
    }
}

@media (max-width: 990px) {
    .post-card{
        p{
            font-size: .7em;
        }
    }
}