<article class="post" [class]="'post_parent_' + post.id" [id]="post.id">
    <header class="post__header">
        <div class="post__header-details">
            <img src={{post.User.avatar}} alt="">
            <div class="metadata">
                <span class="author">{{post.User.firstName}} {{post.User.lastName}}</span>
                <span class="date">{{post.createdAt | mdate}}</span>
                <span class="autre"></span>
            </div>
        </div>
        <div class="post__header-action">
            <span class="fa fa-ellipsis-h" (click)="toggleMenu('post_'+post.id)"></span>
            <ul class="menu" [class]="'post_' + post.id">
                <li (click)="showPost(post.id)" *ngIf="post.UserId != user.id"><span class="fa fa-info text-success"></span>Voir cette publication</li>
                <li (click)="showEditPostModal(post.id)"  *ngIf="post.UserId === user.id"><span class="fa fa-edit text-primary"></span>Modifier la publication</li>
                <li (click)="deletePost(post.id)" *ngIf="post.UserId === user.id || user.isAdmin"><span class="fa fa-trash text-danger"></span>Supprimer la publication</li>
                <li (click)="hidePost(post.id)" *ngIf="post.UserId != user.id"><span class="fa fa-eye-slash text-warning"></span>Masquer la publication</li>
                <li (click)="signalerPost(post.id)" *ngIf="post.UserId != user.id"><span class="fa fa-exclamation-triangle text-info"></span>Signaler la publication</li>
            </ul>
        </div>
    </header>
    <div class="post__body">
        <div [innerHtml]="post.description"></div>
        <img (click)="showPost(post.id)" *ngIf="!post.image.includes('null')" src={{post.image}} alt={{post.title}} >
    </div>
    <footer class="post__footer small">
        <div class="metadata d-flex w-100" >
            <div class="thumb" *ngIf="likes > 0">
                <span class="liked">{{likes}} persone<span *ngIf="likes > 1">s </span> aime<span *ngIf="likes > 1"></span> </span>    
            </div>
            <div class="comment">
                {{post.Comments.length}} Commentaires
            </div>
        </div>
        <div class="post__footer-actions border-top pt-1">
            <button class="btn btn-sm" (click)="likePost(post.id, like)" >
                <span *ngIf="liked == ''"><span class="far fa-thumbs-up" ></span> J'aime</span>
                <span class="liked" *ngIf="liked != ''"><span class="far fa-thumbs-up liked" ></span> J'aime</span>
            </button>
            <button class="btn btn-sm" (click)="commentThisPost(post.id)">
                <span class="far fa-comment-alt"></span> Commenter 
            </button>
            <button class="btn btn-sm" (click)="sharePost(post.id)">
                <span class="fa fa-share"></span> Partager 
            </button>
        </div>
        <div class="post__footer-comment" >
            <form [formGroup]="comment" (submit)="submitComment($event)">
                <img [src]="user.avatar" alt="">
                <input formControlName="commentText" type="text" placeholder="Ecrire un commentaire ..." name="comment" [class]="'post_ '+post.id" [id]="'post_'+post.id">
            </form>
        </div>
    </footer>
</article>
