.post{
    border: 1px solid var(--color-light);
    box-shadow: 0 0 5px var(--color-light);
    margin-bottom: 1em;
    background-color: var(--bg-post-color);
    color: var(--text-color-dark);
    border-top: 3px solid var(--primary);
    &.hide{
        height: 4em;
        overflow: hidden;
        filter: grayscale(1);
        opacity: .5;
        &.signaled{
            position: relative;
            filter: grayscale(0);
            &::after{
                position: absolute;
                content: "Un administrateur examinera ce poste, merci pour votre vegilance !";
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 9999;
                background-color: brown;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .post__header{
        padding: .5em 1em .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color-gray);

        //border-bottom: 1px solid rgba(128, 128, 128, 0.356);
        .post__header-details{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .7em;
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: .5em;
            }
            .metadata{
                display: flex;
                flex-direction: column;
                .author{
                    font-weight: 500;
                }.date{
                    color: var(--primary);
                }
            }
        }
        .post__header-action{
            position: relative;
            flex-grow: 1;
            text-align: right;
            button{
                background-color: var(--bg-color);
            }
            span{
                cursor: pointer;
            }
            ul.menu{
                background-color: var(--bg-color);
                display: none;
                &.show{
                    position: absolute;
                    right: 1em;
                    top: 2em;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    border-radius: .2em;
                    box-shadow: 0 0 8px gray;
                    padding: 0;
                    min-width: 280px;
                    li{
                        display: flex;
                        padding: .5em 1em;
                        justify-content: flex-start;
                        align-items: center;
                        text-align: left;
                        cursor: pointer;
                        &:hover{
                            background-color: rgb(240, 240, 240);
                        }
                        span{
                            margin-right: 1.5em;
                        }
                    }
                }
            }
        }
    }
    .post__body{
        // border-top: 1px solid lightgray;
        // border-bottom: 1px solid lightgray;
        div{
            max-height: 10em;
            padding: .5em;
            overflow: hidden;
            color: var(--text-color-gray);
            .h1 strong, h1 strong{
                font-size: .5em !important;
            }
            p{
                margin: .5em 0;
                color: var(--text-color-gray);
            }
        }
        img{
            width: 100%;
            max-height: 100vh;
            object-fit: cover;
            cursor: pointer;
        }
        p{
            height: 3.2em;
            overflow: hidden;
            padding: 0 1em;
            font-size: .8em;
            padding-top: .5em;
            margin: 1em;
            color: var(--text-color-gray);

        }
    }
    .post__footer{
        padding: .5em 1em;
        color: var(--text-color-gray);
        .metadata{
            display: flex;
            justify-content: space-between;
        }
        .post__footer-actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .7em;
            padding: 0 3em;
            button{
                color: var(--text-color-gray);
            }
            span{
                color: var(--text-color-gray);
            }
        }
        .post__footer-comment{
            padding: 1em 0;
            form{
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
            img{
                border-radius: 50%;
                width: 35px;
                height: 35px;
                object-fit: cover;
                flex: 1;
                margin-right: .5em;
            }
            input{
                font-size: 1em;
                flex: 10;
                flex-grow: 1;
                flex-basis: 100%;
                padding: .1em 1em;
                border: 1px solid lightgray;
                border-radius: 10px;
                background-color: rgba(128, 128, 128, 0.13);
                &::placeholder{
                    color: gray;
                }
                &:focus,
                &:active{
                    outline: none;
                    box-shadow: 0 0 3px rgb(29, 174, 231);
                    background-color: rgb(255, 255, 255)
                }
            }
        }
    }
}
.liked, .commented{
    color: rgb(8, 122, 228) !important;
}

@media (max-width: 768px) {
    .post{
        width: 100%;
        .post__footer{
            .post__footer-actions{
                ul.menu.show{
                    width: 70vw !important;
                }
            }
        }
    }
}