.profil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
    padding-bottom: 1em;
    background-color: var(--bg-color);
    box-shadow: 0 0 3px rgb(212, 211, 211);
    font-size: .9em;
    header{
        text-align: center;
        padding: 0 1em;
        color: var(--text-color-gray);
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 3px solid var(--primary);
            padding: 3px;
            transform: translateY(10%);
            background-color: var(--bg-color);
        }
        h2{
            font-size: 1em;
            font-weight: 900;
            text-align: center;
            margin-top: 2em;
        }
        .badge{
            text-align: center;
            width: 100%;
            font-size: .9em;
            span{
                color: var(--primary);
                margin: 0 .3em ;
                .fa{
                    color: chocolate !important;
                }
            }
        }
    }
    section{
        border-left: 1px solid var(--text-color-gray);
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
        .detail{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                color: var(--text-color-gray);
                font-weight: 300;
                text-align: center;
                margin: .5em;
                span{
                    color: rgb(49, 144, 233);
                    margin-left: .5em;
                }
            }
            
           
        }
        .action{
            margin-top: 1em;
            width: 100%;
            display: flex;
            justify-content: flex-start;
        button{
            position: relative;
            margin: 0 5px !important;
            font-size: .7em;
        };
    }
}
}

@media (max-width: 768px){
    .users{
        padding-bottom: 5em;
    }
    .profil{
        flex-direction: column;
        section{
            border: none;
        }
    }
}